.node {
    width: 25px;
    height: 25px;
    outline: 1px solid #6DD4E4;
    display: inline-block;
}

.node-finish {
    background-color: red;
}

.node-start {
    background-color: green;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-wall {
    background-color: darkblue;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: #741023;
        border-radius: 100%;
    }

    50% {
        background-color: #EF381E;
    }

    75% {
        transform: scale(1.2);
        background-color: #FF6434;
    }

    100% {
        transform: scale(1);
        background-color: #5CC5DA;
    }
}