$dark: #EAE8E8;
$body-bg: #F1ECE6;
$brightblue: #00aaff;
$primary: $brightblue !default;
$navbar-dark-color: #4F4F4F;
$navbar-dark-hover-color: #00aaff;
$navbar-dark-active-color: #00aaff;

@import "/node_modules/bootstrap/scss/bootstrap.scss"